.btn-cadastro{
    padding: 16px 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
    background: #f36743;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #a5422a;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.btn-cadastro:hover, .active {
    color:#ffffff!important;
}
.btn-criar{
    content: "\f0a9";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    border-color: #f36743;

    margin-right: 10px;
}

.texto{
    font-size: 14px;
    margin-left: 1px;
    margin-top:-20px;
}
.letras-miudas{
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.sub-titulo{
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    font-size: 20px;
}
.caixa-texto{
    border: 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 2.5px;
    width: 100%;
    padding-left: 8px;
    height: 40px;
    font-size: 14px;
   
}

.caixa-texto-2{
    border: 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 2.5px;
    width: 100%;
    padding-left: 8px;
    height: 40px;
    font-size: 14px;
   
}

.caixa-texto2{
    border: 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 2.5px;
    width: 720px;
    padding-left: 30px;
    height: 40px;
    font-size: 14px;
   
}
.caixa{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: 0;
    content: '';
    display: inline-block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #bbb;
    background: #fff;
}
.largura{
    text-align: center;
    justify-content: center;
    align-items: center;
}

