/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para a seção de esqueci-senha */
.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.panel-signin {
    max-width: 400px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.364);
}

.logo {
    margin-bottom: 20px;
}

.input-group-a {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
}

.btn-newconta {
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
}

/* Estilos para telas menores que 768px */
@media (max-width: 768px) {
    .panel-signin {
        max-width: 100%;
    }
}
