/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para a seção de login */
.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.panel-body {
    padding-bottom: 15px;
    margin: auto;
    background-color: #221328;
}

.panel-signin {
    max-width: 400px;
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.364);
}

.logo {
    margin-bottom: 20px;
}

.input-group-a {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.btn-success {
    border: none;
    color: #fff;
    padding: 10px 10px;
    padding-left: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.recuperar-senha{
    background-color: #221328;
    padding-top: 10px;
}

/* Estilos para telas menores que 768px */
@media (max-width: 768px) {
    .panel-signin {
        max-width: 100%;
    }

    .btn-success {
        width: 66%;
    }

    .pull-left, .pull-right {
        width: 50%;
        margin-bottom: 10px;
    }

    .pull-right{
        text-align: right;
        padding-left: 15px;
    }

    .pull-left{
        padding-right: 15px;
    }

    .pull-left i{
        display: flexbox;
        justify-content: left;
        align-items: left;
    }

    .btn-newconta{
        margin: 0;
        font-size: 90%;
        width: 100px;
        padding: 10px;
    }

    .btn-newconta::before {
        content: "Crie sua conta";
    }

    .text-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    

    .imagem{
        width: 90%;
    }
}

/* Outros estilos responsivos podem ser adicionados aqui */
