body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 25px 25px 15px 25px;
    width: 100%;
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.profile-form {
    background-color: #fff;
    border-radius: var(--card-border-radius);
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 25px 25px 15px 25px;
    width: 100%;
    max-width: 400px;
    height: 75vh;
    min-height: 400px;
}

.titulo {
    font-size: 20px;
    margin: 10px 0;
    color: #0077b5;
}

.edit-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-picture {
    position: relative;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.photo{
     display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
     display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.upload-label {
    margin-top: 10px;
    position: relative;
    bottom: 2px;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: #9681cc;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.upload-label:hover {
    background-color: #8a6ada;
}
.form-group {
    margin-bottom: 20px;
}

.caixa-texto {
    margin-bottom: 10px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

#nome, #sobrenome, #email, #arroba {
    width: 100%;
    text-align: center;
}

.butao {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    background-color: #9681cc;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    transition: background-color 0.3s;
}

.butao:hover {
    background-color: #8a6ada;
}

#upload-photo {
    display: none;
}
