/* O CSS anterior permanece o mesmo */

.posts {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 20px;
}

.post {
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin: 0;
}

p {
    font-size: 16px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0077b5; /* Cor do link para o LinkedIn */
}
