@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

.card-emergencia{
    transform-style: preserve-3d;
    transition: all 1s ease;
    position: relative;
    width: 219px;
    height: 175px;
}

.card-emergencia:hover{
    transform: rotateY(180deg);
}

.frente{
    position: absolute;
    width: 200px;
    height: 186px;
    border: 2px solid #f36743; 
    border-radius: 10px;
    padding: 20px;
    background-color: #f0f0f0; 
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;

    backface-visibility: hidden;
}

.atras{
    position: absolute;
    width: 200px;
    height: 186px;
    border: 2px solid #f36743; 
    border-radius: 10px;
    padding: 20px;
    background-color: #f0f0f0; 
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;

    backface-visibility: hidden;
    transform: rotateY(180deg);
    margin-left: 20px;
}

#telefone{
    margin-top: 28px;
}


.galeria{
    border: 2px solid #f36743; 
    border-radius: 10px;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    width: 955px;
    height: 492px;
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    position: static;
}

.icons_emergencia{
    height: 50px;
    width: auto;
}

.icons_emergencia img{
    max-width: 100%;
    height: auto;
}

.disk{
    font-size: 20px;
    margin-top: 10px;
}

h1{
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}


/* .input_comentario {
    background: var(--color-light);
    width: 40vw;
    font-size: 0.7rem;
    color: var(--color-dark);
    padding: var(--search-padding);
} */

/* 
.btn_comentario {
    width: 50px;
    height: 50px;
    background-color: --color-grey;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 2px;
  }
  */
    .customize-theme .card{
        width: 92vw;
    }

    @media (max-width: 1394px) {
    .galeria{
        width: 683px;
        height: 682px;
        grid-template-columns: repeat(3, 1fr);
    }
}

    @media (max-width: 906px) {
        .galeria{
            width: 488px;
            height: 941px;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 844px) {
        .galeria{
            width: 488px;
            height: 941px;
            grid-template-columns: repeat(2, 1fr);
            margin-left: 186px;
        }
    }

    @media (max-width: 752px) {
        .galeria{
            width: 456px;
            height: 941px;
            grid-template-columns: repeat(2, 1fr);
            margin-left: 5px;
        }
    }