@import url('bootstrap.min.css');
@import url('bootstrap-override.css');
@import url('weather-icons.min.css');
@import url('jquery-ui-1.10.3.css');
@import url('font-awesome.min.css');
@import url('animate.min.css');
@import url('animate.delay.css');
@import url('toggles.css');
@import url('pace.css');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    background-color: #221328;
}

a {
    outline: none !important;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

.panel-footer{
    background-color: #221328;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-newconta{
    font-family: 'Poppins', sans-serif;
    padding: 16px 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
    background: #f36743;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #a5422a;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-newconta:hover, .active {
    color:#ffffff!important;
}

.text-center-titulo{
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    font-size: 25px;
}

.text-center{
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    font-size: 25px;   
     margin-top: 10px;
}

.panel-signin,
.panel-signup {
    margin: 80px auto 0 auto;
}

.panel-signin {
    width: 800px;
    border: none;
    background-color: #221328;
}

.panel-signup {
    width: 1200px;
}

.panel-signin .panel-body,
.panel-signup .panel-body {
    padding: 40px;
}

.panel-signin .panel-footer,
.panel-signup .panel-footer {
    padding-left: 40px;
    padding-right: 40px;
}

.desenho {
    margin-bottom: 20px; /* Adicione algum espaço entre "desenho" e "panel" */
}

.desenho img{
    position: absolute;
    top: 49%;
    left: 26%;
    transform: translate(-50%, -50%);
    width: 36%;
}

@media (max-width: 1469px) {
    .section_login{
        width: 10%;
    }

    .panel-signin {
        width: 50%;
    }

    .pull-left, .pull-right {
        width: 50%;
        margin-bottom: 10px;
    }

    .pull-right{
        text-align: right;
        padding-left: 15px;
    }

    .pull-left{
        padding-right: 15px;
    }

    .pull-left i{
        display: flexbox;
        justify-content: left;
        align-items: left;
    }

    .btn-newconta{
        margin: 0;
        font-size: 90%;
        width: 100px;
        padding: 10px;
    }

    .text-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagem{
        width: 50%;
    }

    .desenho img{
        width: 33%;
    }

    .pull-rigth{
        text-align: right;
        width: 36%;
    }
}

@media (max-width: 768px) {
    .section_login{
        width: 10%;
        display: flex; /* Use flexbox para criar uma coluna */
        flex-direction: column; /* Direção da coluna */
    }

    .panel-signin {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .pull-left, .pull-right {
        width: 50%;
        margin-bottom: 10px;
    }

    .pull-right{
        text-align: right;
        padding-left: 15px;
    }

    .pull-left{
        padding-right: 15px;
    }

    .pull-left i{
        display: flexbox;
        justify-content: left;
        align-items: left;
    }

    .btn-newconta{
        display: inline-flex;
        font-size: 90%;
        width: 220px;
        padding: 10px;
    }

    .text-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagem{
        width: 50%;
    }

    .desenho{
        display: none;
    }

    .desenho img{
        display: none;
    }
}
