@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

:root{
    --primary-color-hue: 252;
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;

    --color-white: hsl(252,30%, var(--white-color-lightness));
    --color-light: hsl(252,30%, var(--light-color-lightness));
    --color-grey: hsl(var(--primary-color-hue), 15%, 65%);
    --color-primaryEX: hsl(var(--primary-color-hue), 89%, 48%);
    --color-primary: #9681cc;
    --color-dange: hsl(255, 70%, 46%);
    --color-danger: hsl(0, 67%, 45%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);
    --white: #fff;

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem; 

    --stick-top-left: 5.4rem;
    --stick-top-right: -18rem;
}

.dark-theme{
    --color-white: #131316;
    --color-light: #23232a;
    --color-dark: #ddd;
    ---white: #131316;

}
nav .create .themes .theme-btn{

    display:flex;
}

.sidebar .menu-item .material-symbols-outlined{
    font-size: 1.5rem;
     margin-left: 2rem;
    position:relative;
    color: var(--color-grey);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24


}

.material-symbols-outlined {
    font-size: 1.4rem;
     margin-left: 0.5rem;
    position:relative;
    color: var(--color-grey);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}


body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

.foto-perfil{
width: 43px;
height: 43px;
}


    .container{
    width: 80%;
    margin: 0 auto;
}

img{
    display: block;
    width: auto;
}
.profile-photo{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn :hover{
    opacity: 1;
}

.btn-primary{
    background: var( --color-primary);
    color: white;
}
.text-bold{
    font-weight: 500;
}

.text-muted{
    color: var(--color-grey);
}

nav{
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}
.box-img-header {
    height: 100%;
}

.img-logo {
    height: 100%;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .create{
    display: flex;
    align-items: center;
    gap: 2rem ;
}

main{
    position: relative;
    top: 5.4rem;
}
main .container{
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}

main .container .left{
    height: max-content;
    position: sticky;
    top: var(--stick-top-left);
}

main .container .left .profile{
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

.left .sidebar{
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);

}

.left .sidebar .menu-item{
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    translate: all 300ms ease;
    position: relative;
}

.left .sidebar .menu-item:hover{
    background: var(--color-light);
}

.left .sidebar i{
    font-size: 1.4rem;
    color: var(--color-grey);
    margin-left: 2rem;
    position: relative;
}
.left .sidebar i .notification-count{
    background: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;

}

.left .sidebar h3{
    margin-left: 1.5rem;
    font-size: 1rem;
}

.left .sidebar .active{
    background: var(--color-light);
}

.left .sidebar .active i,
.left .sidebar .active h3{
    color: var(--color-primary);
}
.left .sidebar .active::before{
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active{
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .sidebar .menu-item:last-child.active{
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}
.left .btn{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.left .notification-popup{
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60% 25%);
    z-index: 8;
    display: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.left .notification-popup::before{
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--color-white);
    position: absolute;
    left: -0.6rem;
    transform: retate(45deg);
}
.left .notification-popup >div{
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem ;
}

.left .notification-popup small{
    display: block;
}


.middle .wrapper{
    background: var(--color-white);
    padding: 25px 25px 15px 25px;
    width: 100%;
    border-radius: var(--card-border-radius);
}
.middle .input-box{
    padding-top: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.middle .input-box .twee-area{
    position: relative;
    min-width: 130px;
    max-height: 170px;
    overflow-y: auto;
}
.twee-area::-webkit-scrollbar{
    width: 0px;
}
.middle .twee-area .placeholder{
    position: absolute;
    margin-top: -3px;
    font-size: 22px;
    color: #98a5b1;
    pointer-events: none;
}
.middle .twee-area .input{
    outline: none;
    font: 17px;
    word-wrap: break-word;
    word-break: break-all;
}
.middle .twee-area .readonly{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: transparent;
    background: transparent;
}
.middle .twee-area .readonly{
    position: relative;
    z-index: 5;
}
.twee-area .readonly .highlight{
    background: #fd9bb0;
}
.middle .input-box .privacy{
    color: var(--color-primary);
    margin: 45px 0 15px 0;
    padding: 7px 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    transition: background 0.2s ease ;
}
.middle .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
}

.middle .bottom .icons{
    display: inline-flex;
}
.icons li{
    color: var(--color-primary);
    list-style: none;
    height: 38px;
    width: 38px;
    margin: 0 2px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background 0.2s ease;
}
.middle .input-box .privacy:hover,
.icons li:hover{
    background-color: #e7f5fe;
}
.middle .input-box .privacy i{
    font-size: 18px;
}

.middle .input-box .privacy span{
    font-size: 15px;
    font-weight: 600;
    margin-left: 7px;
}
.bottom .content{
    display: flex;
    align-items: center;
}
.content .counter{
    display: none;
    margin-right: 15px;
    padding-right: 15px;
    color: #333;
    border-right: 1px solid #aab8c3;
}

.content button{
    padding: 9px 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    background: var(--color-primary);
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    pointer-events: none;
}

.content button.active{
    opacity: 1;
    pointer-events: auto;
}

.panel-title{
    font-size: 150%;
    text-align: center;
    padding-bottom: 5%;
}

/* estilizarção do /novo_post */
.middle-relato {
    background: #fff;
    padding: 25px 25px 15px 25px;
    border-radius: var(--card-border-radius);
    width: 100%;
    min-width: 100px;
    height: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#titulo{
    padding: 15px;
    background-color: transparent;
    font-size: 1.3rem;
    width: 600px;
    font-family: 'Poppins', sans-serif;
}

#comentario{
    padding: 20px;
    font-size: 1.2em;
    resize: none;
    width: 800px;
    height: 70px;
    font-family: 'Poppins', sans-serif;
}

#tags{
    padding: 20px;
}

.middle-relato .clicks {
    display: flex;
    padding: 20px;
    margin-top: 35px;
    align-items: flex-end;

}
.post-info{
    flex-direction: column;
}

.buttons-post{
    margin-left: 200px;
}

.mr5 :hover{
    background-color: #8a6ada;

}
input[type="file"] {
    display: none;
}

label {
    cursor: pointer;
}

/* ---------------- */

.middle .feeds .feed{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}
.middle .feed .head{
    display: flex;
    justify-content: space-between;
}
.middle .feed .user{
    display: flex;
    gap: 1rem;
}

.middle .feed .photo{
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;

}
.middle .feed .photo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.middle .feed .action-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

main .container .right{
    height: max-content;
    position: sticky;
    top: var(--stick-top-right);
    bottom: 0;
}

.right .filters{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.right .filters .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .filters i{
    font-size: 1.4rem;
}

.right .filters .search-bar{
    display: flex;
    margin-bottom: 1rem;
}

/* para fazer tracinho usar
border-bottom: 4px solid var(--color-light;
padding-bottom: 0.5rem;
*/

.right .users-relevant{
    margin-top: 1rem;
}
.right .users-relevant h4{
    color: var(--color-grey);
    margin: 1rem 0;
}

.right .user{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
}

.right .user .info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .user .action{
    display: flex;
    gap: 0.5rem;
}

.head-newpost{
    align-items: center;
}




/*    TEMAS
-inicialmente estava no fora do main, mas abri
uma animação igual ao da notificação para sobressair na tela
*/

.customize-theme {
    background: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 0.9rem;
    display: none;

}

.customize-theme .card{
    background: var(--color-white);
    padding: 3rem;
    border-radius: var(--card-border-radius);
    width: 50%;
    box-shadow: 0 0 1rem var(--color-primary);
}

.customize-theme .font-size{
    margin-top: 5rem;
}

.customize-theme .font-size > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--border-radius);
}

.customize-theme .choose-size{
    background: var(--color-dange);
    height: 0.3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customize-theme .choose-size span{
    width: 1rem;
    height: 1rem;
    background: var(--color-dange);
    border-radius: 50%;
    cursor: pointer;
}

.customize-theme .choose-size span.active{
    background: var(--color-primary);
}

.customize-theme .color{
    margin-top: 2rem;
}

.customize-theme .choose-color{
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-theme .color span{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}

.customize-theme .choose-color span:nth-child(1){
    background: hsl(255, 70%, 46%) ;
}
.customize-theme .choose-color span:nth-child(2){
    background: hsl(36, 84%, 37%);
}
.customize-theme .choose-color span:nth-child(3){
    background: hsl(45, 73%, 47%) ;
}
.customize-theme .choose-color span:nth-child(4){
    background: hsl(313, 61%, 70%) ;
}
.customize-theme .choose-color span:nth-child(5){
    background: hsl(219, 59%, 46%) ;
}

.customize-theme .choose-color span.active{
    border: 5px solid;
}

.customize-theme .choose-bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.customize-theme .choose-bg > div{
    padding: var(--card-padding);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
}

.customize-theme .choose-bg > div.active{
    border: 2px solid var(--color-primary);
}

.customize-theme .choose-bg .bg-1{
    background: white;
    color: black;
}

.customize-theme .choose-bg .bg-2{
    background: hsl(252, 30%, 17%);;
    color:white;
}

.customize-theme .choose-bg .bg-3{
    background: hsl(252, 30%, 10%);
    color: white;
}

.customize-theme .choose-bg > div span{
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--color-grey);
    border-radius: 50%;
    margin: 1rem;
    border-radius: 50%;
}

.left .themes-popup{
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60% 25%);
    z-index: 8;
    display: none;
}
.left .themes-popup::before{
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--color-white);
    position: absolute;
    left: -0.6rem;
    transform: retate(45deg);
}
.left .themes-popup >div{
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem ;
}
.left .themes-popup small{
    display: block;
}

/* ESTILO CONFIGURAÇÕES */

.middle .configure{
    display: block;
    margin-top: 0.03rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.config-options {
    list-style: none;
    padding: 0;
    text-align: left;
}

.config-option {
    font-size: 130%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.config-option a {
    color: #333;
    margin-left: 10px;
}

.config-option i {
    font-size: 20px;
}

.config-title {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px;
}

/* Exemplo de estilos de fonte para cada opção */
.config-option:nth-child(1) a,
.config-option:nth-child(2) a,
.config-option:nth-child(3) a,
.config-option:nth-child(4) a {
    font-family: 'Poppins', sans-serif;
}

/* ESTILO CONFIGURAÇÕES -> MINHA CONTA */

.middle .my-account{
    display: block;
    margin-top: 0.03rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.my-account-title {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px;
}

/* ESTILO CONFIGURAÇÕES -> NOTIFICACOES */

.middle .notifications{
    display: block;
    margin-top: 0.03rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.config-notifications-title {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px;
}

/* ESTILO CONFIGURAÇÕES -> SEGURANCA */

.middle .security{
    display: block;
    margin-top: 0.03rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.config-security-title {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px;
}

/* ESTILO CONFIGURAÇÕES -> PRIVACIDADE */

.middle .privacy{
    display: block;
    margin-top: 0.03rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.config-privacy-title {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px;
}



/*    RESPONSIVIDADE   */

@media screen and (max-width: 1200px) {
    .container{
        width: 96%;
    }

    .main .container{
        grid-template-columns: 5rem auto 30vw;
        gap: 1rem;
    }
    .left{
        width: 5rem;
        z-index: 5;
    }
    main .container .left .profile{
        display: none;
    }
    .sidebar h3{
        display: none;
    }
    .left .btn{
        display: none;
    }
    .customize-theme .card{
        width: 80vw;
    }
}

@media screen and (max-width: 844px){

    .left .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        background: var(--color-white);
        z-index: 5;
    }

    .left .sidebar .menu-item.active::before {
        content: "";
        width: 100%;
        height: 3px;
        background: var(--color-primary);
        position: absolute;
        bottom: -5px;
        left: 0;
        z-index: 1;
    }

    .bx-home:before {
        margin-left: -75%;
        content: "\eb12";
    }

    .bx-bell:before {
        margin-left: -75%;
        content: "\e9d2";
    }

    .left .sidebar i .notification-count {
        display: none;
        background: var(--color-danger);
        color: white;
        font-size: 0.7rem;
        width: fit-content;
        border-radius: 0.8rem;
        padding: 0.1rem 0.4rem;
        position: absolute;
        top: -0.2rem;
        right: -0.3rem;
    }

    .bx-analyse:before {
        margin-left: -75%;
        content: "\e9ab";
    }

    .bx-user-check:before {
        margin-left: -75%;
        content: "\ec64";
    }

    .bx-cog:before {
        margin-left: -75%;
        content: "\ea6e";
    }

    .bx-palette:before {
        margin-left: -75%;
        content: "\eba9";
    }

    main .container{
        width: 100%;
        grid-template-columns: 0rem auto 0rem;
        gap: 0;
    }
    main .container .left{
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    /* .left .notification-popup{
        position: absolute;
        left: -20rem;
        width: 20rem;
    } */


    /* .left .notification-popup::before{
        display: none;
        top: 1.3rem;
        left: calc(20rem - 0.6rem);
        display: block;
    } */

    main .container .middle{
        grid-column: 1/3;
    }

    main .container .right{
        display: none;
    }

}

.form_comentario {
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.form_comentario input{
    background: var(--color-light);
    width: 40vw;
    font-size: 0.7rem;
    color: var(--color-dark);
    padding: var(--search-padding);
}

.form_comentario button{
    background-color: --color-grey;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 2px;
}


/* .input_comentario {
    background: var(--color-light);
    width: 40vw;
    font-size: 0.7rem;
    color: var(--color-dark);
    padding: var(--search-padding);
} */

/*
.btn_comentario {
    width: 50px;
    height: 50px;
    background-color: --color-grey;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 2px;
  }
  */
    .customize-theme .card{
        width: 92vw;
    }
