<head th:fragment="common_header(title,links)">
    <meta>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:replace="${title}">Cooruja</title>
    
    <!-- Common styles and scripts -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css\stylehome.css}">
    <link rel='stylesheet' type="text/css" media="all" th:href="@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}">
    <link rel="icon" type="image/png" th:href="@{images/coruja_images/icons/32x32/Sem/Ativo 73.png}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <script type="text/javascript" th:src="@{/sh/scripts/codebase.js}"></script>
    
    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />
</head>