<div th:fragment="left()" class="left">
        <a href="" class="profile">
            <div class="profile-photo"></div>
              <img src="\images\coruja_images\icons\48x48\com\Ativo 60.png" alt="">
            <div class="handle">
                <h4>HardTech</h4>
                <p class="text-muted">
                    @hardtech2023
                </p>
            </div>
        </a>
   
        <div class="sidebar">
            <a href="/home" class="menu-item" th:classappend="${currentPage == 'home'} ? 'active' : ''">
                <span><i class='bx bx-home'></i></span><h3>Home</h3> 
            </a>
            <a class="menu-item" id="notifications">
                <span><i class='bx bx-bell'><small class="notification-count">+5</small></i></span><h3>Notificações</h3> 
                <div class="notification-popup">
                    <div>
                        <div class="profile-photo">
                            <img src="#" alt="" class="">
                        </div>
                        <div class="notification-body">
                            <b> MALU </b> comentou no seu relato
                            <small class="text-muted">5 MINUTO ATRÁS</small> 
                        </div>
                    </div>
                    <div>
                        <div class="profile-photo">
                            <img src="#" alt="" class="">
                        </div>
                        <div class="notification-body">
                            <b> GLASSESGIRL </b> repostou o seu relato
                            <small class="text-muted">2 HORAS ATRÁS </small> 
                        </div>
                    </div>
                    <div>
                        <div class="profile-photo">
                            <img src="#" alt="" class="">
                        </div>
                        <div class="notification-body">
                            <b> MUR1LOVE </b> curtiu o seu relato
                            <small class="text-muted">3 HORAS ATRÁS</small> 
                        </div>
                    </div>
                    <div>
                        <div class="profile-photo">
                            <img src="#" alt="" class="">
                        </div>
                        <div class="notification-body">
                            <b> TRIZBEA </b> curtiu o seu relato
                            <small class="text-muted">3 HORAS ATRÁS</small> 
                        </div>
                    </div>
                </div>
            </a>
            <a href="/novo_post" class="menu-item" th:classappend="${currentPage == 'novo_post'} ? 'active' : ''">
                <span><i class='bx bx-analyse' ></i></span><h3>Upload</h3> 
            </a>
            <a class="menu-item">
                <span><i class='bx bx-user-check'></i></span><h3>Perfil</h3>
            </a>
            <a class="menu-item">
                <span><i class='bx bx-cog' ></i></span><h3>Configurações</h3>
            </a>
            
            <a class="menu-item" id="themes">
                <span><i class='bx bx-palette bx-tada bx-rotate-90' ></i></span><h3>Temas</h3>
                <div class="themes-popup">
                    <div class="customize-theme">
                        <div class="card">
                            <h2>Personalize a sua visualização</h2>
                            <p class="text-muted">Configure o tamanho da sua fonte, a cor e o fundo</p>

                            <div class="font-size">
                                <h4>Tamanho da fonte</h4>
                                <div>
                                    <h6>Aa</h6>
                                    <div class="choose-size">
                                        <span class="font-size-1"></span>
                                        <span class="font-size-2"></span>
                                        <span class="font-size-3"></span>
                                        <span class="font-size-4"></span>
                                        <span class="font-size-5"></span>
                                    </div>
                                    <h3>Aa</h3>
                                </div>
                            </div>
            
                            <div class="color">
                                <h4>Cores</h4>
                                <div class="choose-color">
                                    <span class="color-1 active"></span>
                                    <span class="color-2"></span>
                                    <span class="color-3"></span>
                                    <span class="color-4"></span>
                                    <span class="color-5"></span>
                                </div>
                            </div>
            
                            <div class="background">
                                <h4>Fundo</h4>
                                <div class="choose-bg">
                                    <div class="bg-1 active">
                                        <span></span>
                                        <h5 for="bg-1">Light</h5>
                                    </div>
                                    <div class="bg-2">
                                        <span></span>
                                        <h5 for="bg-2">Dim</h5>
                                    </div>
                                    <div class="bg-3">
                                        <span></span>
                                        <h5 for="bg-3">Ligths Out</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
    
            <label for="create-post" class="btn btn-primary">Criar Relato</label>
        </div>
</div>