<div th:fragment="left()" class="left">

    <a href="" class="profile">
        <div class="profile-photo">
            <img th:src="@{'/imagens/' + ${usuario.imagem_usuario}}" class="foto-perfil">
        </div>
        <div class="handle">
            <h4 th:text="${usuario.nome + ' ' + usuario.sobrenome}"></h4>
            <p class="text-muted">
                @hardtech2023
            </p>
        </div>
    </a>

    <div class="sidebar">
        <a href="/home" class="menu-item" th:classappend="${currentPage == 'home'} ? 'active' : ''">
            <span><i class='bx bx-home'></i></span>
            <h3>Home</h3>

        </a>
        <a class="menu-item" id="notifications">
            <span><i class='bx bx-bell'><small class="notification-count">+5</small></i></span>
            <h3>Notificações</h3>
            <div class="notification-popup">
                <div>
                    <div class="profile-photo">
                        <img src="#" alt="" class="">
                    </div>
                    <div class="notification-body">
                        <b> MALU </b> comentou no seu relato
                        <small class="text-muted">5 MINUTO ATRÁS</small>
                    </div>
                </div>
                <div>
                    <div class="profile-photo">
                        <img src="#" alt="" class="">
                    </div>
                    <div class="notification-body">
                        <b> GLASSESGIRL </b> repostou o seu relato
                        <small class="text-muted">2 HORAS ATRÁS </small>
                    </div>
                </div>
                <div>
                    <div class="profile-photo">
                        <img src="#" alt="" class="">
                    </div>
                    <div class="notification-body">
                        <b> MUR1LOVE </b> curtiu o seu relato
                        <small class="text-muted">3 HORAS ATRÁS</small>
                    </div>
                </div>
                <div>
                    <div class="profile-photo">
                        <img src="#" alt="" class="">
                    </div>
                    <div class="notification-body">
                        <b> TRIZBEA </b> curtiu o seu relato
                        <small class="text-muted">3 HORAS ATRÁS</small>
                    </div>
                </div>

            </div>
        </a>
        <a href="/novo_post" class="menu-item" th:classappend="${currentPage == 'novo_post'} ? 'active' : ''">
            <span><i class='bx bx-analyse'></i></span>
            <h3>Relatar</h3>
        </a>
        <a href="/profile" a class="menu-item"
            th:classappend=" ${currentPage == 'profile'} ? 'active' : ''">
            <span><i class='bx bx-user'></i></span>
            <h3>Perfil</h3>
        </a>
        <a href="/config" class="menu-item" th:classappend="${currentPage == 'config'} ? 'active' : ''">
            <span><i class='bx bx-cog'></i></span>
            <h3>Configurações</h3>
        </a>
        <a href="/emergencia" class="menu-item" th:classappend="${currentPage == 'emergencia'} ? 'active' : ''">
            <span><i class='bx bx-cog'></i></span>
            <h3>Emergência</h3>
        </a>
    </div>
    <a href="/novo_post" class="btn btn-primary">Criar Relato</a>

</div>