<nav>
    <div class="container">
        <h2 class="log">COORUJA</h2>
        <div class="botoes">
            <form class="create" action="/logout" method="get" >
                <button class="btn btn-primary" for="create-post">Sair</button>
                 
                <div class="profile-photo">
                    <img th:src="@{'/imagens/' + ${usuario.imagem_usuario}}" class="foto-perfil">
                </div>
             </form>
             <form class="create" action="/emergencia">
                <a href="/emergencia"><button class="btn btn-primary" id="btn-emergencia">Emergência</button></a>
        </form>
        </div>
    </div>
    <!-- <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = 'css/perfil.css';
        document.head.appendChild(link);
    </script> -->

    <link rel="stylesheet" href="\css\stylenav.css">
    
</nav>

