<div th:fragment="right()" class="right">
    <div class="filters">
        <div class="heading">
            <h4>Filtros</h4><i class='bx bx-analyse' ></i>
        </div>
        <div class="search-bar">
            <img src="\images\coruja_images\icons\16x16\sem\lupa.png" alt="">
            <input type="search" placeholder="Pesquise por relato" id="post-search">
        </div>
    </div>

    <div class="users-relevant">
        <h4>Usuários mais relevantes</h4>
        <div class="user">
            <div class="info">
                <div class="profile-photo">
                    <img src="\images\coruja_images\icons\48x48\com\Ativo 60.png" alt="">
                </div>
                <div>
                    <h5>Ramon Rodrigues</h5>
                    <p class="text-muted">
                       3 relatos em #1 essa semana 
                    </p>
                    
                </div>
            </div>
            <div class="action">
                <button class="btn btn-primary">
                    Seguindo
                </button>
                <button class="btn">
                    Seguir
                </button>
            </div>
        </div>
    </div>
    <!-----final do right---->
</div>