<div th:replace="comum/up"></div>
	
	<section>
		<div class="mainwrapper">

			<div th:replace="/comum/leftpanel"></div>

			<div class="mainpanel">
				<div class="pageheader">
					<div class="media">
						<div class="pageicon pull-left">
							<i class="fa fa-pencil"></i>
						</div>
						<div class="media-body">
							<ul class="breadcrumb">
								<li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
								<li><a href="/tarefas">Tarefas</a></li>
							</ul>
							<h4>Nova Tarefa</h4>
						</div>
					</div><!-- media -->
				</div><!-- pageheader -->


			<div class="contentpanel">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">Nova Tarefa</h4>
							<p>Tela criação de uma tarefas.</p>
						</div><!-- panel-heading -->
						
						
						<form method="POST" id="basicForm" th:action="@{/tarefa/adicionar}">
							<div class="panel-body">
								<div class="row">
								<div class="form-group">
										<label class="col-sm-3 control-label">Descrição<span class="asterisk">*</span></label>
										<div class="col-sm-9">
											<input type="text" id="descricao" name="descricao" class="form-control"
												placeholder="Descrição..." required />
										</div>
									</div><!-- form-group -->

									</div><!-- row -->
							</div><!-- panel-body -->
							<div class="panel-footer">
								<div class="row">
									<a href="/tarefa/" class="btn btn-success">Voltar</a>
									<button type="submit" class="btn btn-primary">Salvar</button>
									<button type="reset" class="btn btn-dark">Limpar</button>
								</div>
								
							</div><!-- panel -->
						</form>
						
					</div><!-- panel -->

				</div>

			</div><!-- contentpanel -->

	</section>

<div th:replace="comum/down"></div>