<div th:replace="comum/up"></div>
	
	<section>
		<div class="mainwrapper">

			<div th:replace="comum/leftpanel"></div>

			<div class="mainpanel">
				<div class="pageheader">
					<div class="media">
						<div class="pageicon pull-left">
							<i class="fa fa-pencil"></i>
						</div>
						<div class="media-body">
							<ul class="breadcrumb">
								<li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
								<li><a href="/tarefas">Tarefas</a></li>
							</ul>
							<h4>Lista de Tarefas</h4>
						</div>
					</div><!-- media -->
				</div><!-- pageheader -->


			<div class="contentpanel">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">Lista de Tarefas</h4>
							<p>Tela para listagem das tarefas.</p>
						</div><!-- panel-heading -->

						<div class="panel-body nopadding">
							<a href="/tarefa/adicionar_form" class="btn btn-primary" style="margin: 10px;">Novo</a>
							<div class="table-responsive">
								<table class="table table-hidaction table-hover mb30">
									<thead>
										<tr>
											<th>#</th>
											<th>Descrição</th>
											<th>Criação</th>
											<th>Conclusão</th>
											<th>Situação</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="tarefa : ${tarefas}">
										<td th:text="${tarefa.id}"></td>
											<td th:text="${tarefa.descricao}"></td>
											<td th:text="${tarefa.data_criacao}"></td>
											<td th:text="${tarefa.data_conclusao}"></td>
											<td>
											    <a th:href="@{/tarefa/modificar_status/{id}(id=${tarefa.id})}" class="btn btn-default" th:if="${tarefa.status} == false">Incompleto</a>
									            <a th:href="@{/tarefa/modificar_status/{id}(id=${tarefa.id})}" class="btn btn-primary" th:if="${tarefa.status} == true">Completo</a>
											</td>
											<td>
												<a th:href="@{/tarefa/editar_form/{id}(id=${tarefa.id})}"  class="btn btn-success"><i class="fa fa-pencil white"></i></a>
												<a th:href="@{/tarefa/deletar/{id}(id=${tarefa.id})}" class="btn btn-danger"><i class="fa fa-trash-o white"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div><!-- table-responsive -->

						</div><!-- panel-body -->

						<div class="panel-footer">
							<a href="/dashboard" class="btn btn-success" >Voltar</a>
						</div><!-- panel-footer -->
					</div><!-- panel -->

				</div>

			</div><!-- contentpanel -->

	</section>

<div th:replace="comum/down"></div>