<!DOCTYPE html>
<html lang="pt-br">
    <!-- header -->
    <div th:replace="~{common/header(_,_)}"></div>
    <body>
        <div th:replace="~{common/nav}"></div>
        <main>
            <div class="container">
                <!-- Left -> Menu -->
                <div th:replace="~{common/left}"></div>
                
                <div class="middle">
                        <form class="create-post" id="basicForm" method="post" action="/upload" enctype="multipart/form-data">
                            <div class="head">
                                <h4 class="panel-title">Adicionar Post</h4>
                                <p>Crie um novo post.</p>
                            
                                <label class="col-sm-2 control-label">Título <span class="asterisk">*</span></label>
                                <input type="text" id="titulo" name="titulo" placeholder="Informe um Título..." required />
                                <label class="col-sm-2 control-label">Escolha o arquivo <span class="asterisk">*</span></label>
                                <br/>
                                <input id="file" name="file" type="file" accept="image/png, image/jpeg, image/jpg, image/gif">
                                <br/>
                                <label class="col-sm-2 control-label">Comentário <span class="asterisk">*</span></label>
                                <br/>
                                <textarea id="comentario" name="comentario" rows="5"  placeholder="Digite o seu comentário..." required></textarea>
                                <label class="col-sm-2 control-label">Tags</label>
                                <br/>
                                <input type="text" name="tags" id="tags" />
                                <br/>
                                <br/>
                                <button class="btn btn-primary mr5">Criar</button>
                                <button type="reset" class="btn btn-dark">Limpar</button>
                            </div>
                            
                <!-- </div> -->
                <!-- Right -->
                <!-- <div th:replace="~{common/right}"></div> -->
            </div>
        </main>
        <script src="js\home.js"></script>
     </body>
</html>