<html lang="pt-br"><!-- header --><head>
    <meta>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cooruja</title>
    
    <!-- Common styles and scripts -->
    <link rel="stylesheet" type="text/css" media="all" href="css\styleemergencia.css">
    <link rel="stylesheet" type="text/css" media="all" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="icon" type="image/png" href="images/coruja_images/icons/32x32/Sem/Ativo 73.png">
    <link rel="stylesheet" type="text/css" href="icons/css/all.min.css">
    <script type="text/javascript" src="/sh/scripts/codebase.js"></script>
    
    
    
</head>
    <body>
        <nav>
    <div class="container">
        <h2 class="log">COORUJA</h2>
        <!-- <div > -->
            <button class="btn btn-primary" id="btn-emergencia"><a href="/emergencia"></a>Emergência</button>
            <form class="create" action="/logout" method="get">
                <button class="btn btn-primary" for="create-post">Sair</button>
            </form>
        <!-- </div> -->
    </div>
</nav>

        <main>
            <div class="container">
                <!-- Left -> Menu -->
                <div class="galeria">
                    <div class="card-emergencia">
                        <h1>POLÍCIA MILITAR</h1>
                        <img src="\images\icons_emergencia\Policia.svg" alt="Policia" class="icons_emergencia">
                        <p class="disk">190</p>
                    </div>
                    <div class="card-emergencia">
                        <h1>BOMBEIROS</h1>
                        <img src="\images\icons_emergencia\Bombeiro.svg" alt="Bombeiro" class="icons_emergencia">
                        <p class="disk">193</p>
                    </div>
                    <div class="card-emergencia">
                        <h1>SAMU</h1>
                        <img src="\images\icons_emergencia\Samu.svg" alt="Samu" class="icons_emergencia">
                        <p class="disk">192</p>
                    </div>
                    <div class="card-emergencia">
                        <h1>VIGILÂNCIA SANITÁRIA</h1>
                        <img src="\images\icons_emergencia\Vigilância_Sanitária.svg" alt="Vigilância_Sanitária" class="icons_emergencia">
                        <p class="disk">150</p>
                    </div>
                    <div class="card-emergencia">
                        <h1>DELEGACIA DA MULHER</h1>
                        <img src="\images\icons_emergencia\Delegacia_Da_Woman.svg" alt="Delegacia_Da_Woman" class="icons_emergencia">
                        <p class="disk">180</p>
                    </div>
                    <div class="card-emergencia">
                        <h1>DIREITOS HUMANOS</h1>
                        <img src="\images\icons_emergencia\Direitos_Humanos.svg" alt="Direitos_Humanos" class="icons_emergencia">
                        <p class="disk">100</p>
                    </div>
                    <div class="card-emergencia">
                        <h1>VALORIZAÇÃO DA VIDA</h1>
                        <img src="\images\icons_emergencia\Centro_Valorização_Da_vida.svg" alt="Centro_Valorização_Da_vida" class="icons_emergencia">
                        <p class="disk">141</p>
                    </div>
                    <div class="card-emergencia">
                        <h1>PREFEITURA PAULO AFONSO</h1>
                        <img src="\images\icons_emergencia\Prefeitura_Paulo_Afonso.svg" alt="Prefeitura_Paulo_Afonso" class="icons_emergencia">
                        <p class="disk">(75) 3281-3011</p>
                    </div>
                </div>

                <div class="left">
        <a href="" class="profile">
            <div class="profile-photo">
                <img src="\images\coruja_images\icons\48x48\com\Ativo 60.png" alt="">
            </div>
            <div class="handle">
                <h4>HardTech</h4>
                <p class="text-muted">
                    @hardtech2023
                </p>
            </div>
        </a>
   
        <div class="sidebar">
            <a href="/home" class="menu-item">
                <span><i class="bx bx-home"></i></span><h3>Home</h3> 
            </a>
            <a class="menu-item" id="notifications">
                <span><i class="bx bx-bell"><small class="notification-count">+5</small></i></span><h3>Notificações</h3> 
                <div class="notification-popup">
                    <div>
                        <div class="profile-photo">
                            <img src="#" alt="" class="">
                        </div>
                        <div class="notification-body">
                            <b> MALU </b> comentou no seu relato
                            <small class="text-muted">5 MINUTO ATRÁS</small> 
                        </div>
                    </div>
                    <div>
                        <div class="profile-photo">
                            <img src="#" alt="" class="">
                        </div>
                        <div class="notification-body">
                            <b> GLASSESGIRL </b> repostou o seu relato
                            <small class="text-muted">2 HORAS ATRÁS </small> 
                        </div>
                    </div>
                    <div>
                        <div class="profile-photo">
                            <img src="#" alt="" class="">
                        </div>
                        <div class="notification-body">
                            <b> MUR1LOVE </b> curtiu o seu relato
                            <small class="text-muted">3 HORAS ATRÁS</small> 
                        </div>
                    </div>
                    <div>
                        <div class="profile-photo">
                            <img src="#" alt="" class="">
                        </div>
                        <div class="notification-body">
                            <b> TRIZBEA </b> curtiu o seu relato
                            <small class="text-muted">3 HORAS ATRÁS</small> 
                        </div>
                    </div>
                </div>
            </a>
            <a href="/novo_post" class="menu-item active">
                <span><i class="bx bx-analyse"></i></span><h3>Relatar</h3> 
            </a>
            <a class="menu-item">
                <span><i class="bx bx-user-check"></i></span><h3>Perfil</h3>
            </a>
            <a class="menu-item">
                <span><i class="bx bx-cog"></i></span><h3>Configurações</h3>
            </a>
            
            <a class="menu-item" id="themes">
                <span><i class="bx bx-palette bx-tada bx-rotate-90"></i></span><h3>Temas</h3>
                <div class="themes-popup">
                    <div class="customize-theme">
                        <div class="card">
                            <h2>Personalize a sua visualização</h2>
                            <p class="text-muted">Configure o tamanho da sua fonte, a cor e o fundo</p>

                            <div class="font-size">
                                <h4>Tamanho da fonte</h4>
                                <div>
                                    <h6>Aa</h6>
                                    <div class="choose-size">
                                        <span class="font-size-1"></span>
                                        <span class="font-size-2"></span>
                                        <span class="font-size-3"></span>
                                        <span class="font-size-4"></span>
                                        <span class="font-size-5"></span>
                                    </div>
                                    <h3>Aa</h3>
                                </div>
                            </div>
            
                            <div class="color">
                                <h4>Cores</h4>
                                <div class="choose-color">
                                    <span class="color-1 active"></span>
                                    <span class="color-2"></span>
                                    <span class="color-3"></span>
                                    <span class="color-4"></span>
                                    <span class="color-5"></span>
                                </div>
                            </div>
            
                            <div class="background">
                                <h4>Fundo</h4>
                                <div class="choose-bg">
                                    <div class="bg-1 active">
                                        <span></span>
                                        <h5 for="bg-1">Light</h5>
                                    </div>
                                    <div class="bg-2">
                                        <span></span>
                                        <h5 for="bg-2">Dim</h5>
                                    </div>
                                    <div class="bg-3">
                                        <span></span>
                                        <h5 for="bg-3">Ligths Out</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <a href="/novo_post" class="btn btn-primary">Criar Relato</a>
</div>

        </div></main>
        <script src="js\home.js"></script>
     
</body></html>