<!DOCTYPE html>
<html lang="pt-br">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">

        <title>Erro</title>

        <link href="css/style.erro.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <img src="\images\coruja_images\icons\32x32\Sem\Ativo 72.png" alt="" >
                <ul>
                    <li><a href="/index">Página principal</a></li>
                    <li><a href="/login">Login</a></li>
                    </ul>
            </nav>
        </header>
            <main class="main">
                <section class="section">
                    <div class="left">
                       <p>Erro 404</p>
                       <h4>OPA! Não encontramos a página <br>
                        que você está procurando.</h4>
                        <a href="/index" class="btn">Página principal</a>
                    </div>
                    <div class="right">
                    <img src="" alt="Imagem da cooruja triste">
                    <div class="shadow"></div>
                    </div>
                </section>
            </main>
        </header>
    </body>

</html>
