<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE-edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <title>Home</title>

     <link rel="stylesheet" href="css\home.css">

<head>
<body>
    <nav>
        <div class="container">
            <img src="\images\coruja_images\icons\32x32\Sem\Ativo 72.png" alt="" >
           
             <div class="search-bar">
                 <img src="\images\procurar.png" alt="">
                 <input type="Procurar" placeholder="Procurar ...">
             </div>
             <div class="create">
                <label for="criarPost"></label>
                <div class="profile"> </div>
                  <img src="\images\coruja_images\icons\32x32\Sem\Ativo 72.png" alt="">
             </div>
        </div>
    </nav>
</body>

     




</header>
</html>

