<!DOCTYPE html>
<html lang="pt-br">
    <!-- header -->
    <div th:replace="~{common/header(_,_)}"></div>
    <body>
        <div th:replace="~{common/nav}"></div>
        <main>
            <div class="container">
                <!-- Left -> Menu -->
                <div th:replace="~{common/left}"></div>
                
                <div class="middle">
                    <form class="create-post">
                        <div class="profile-photo">
                            <img src="#" alt="">
                        </div>
                        <input type="text" placeholder="O que você deseja relatar, HardTech?" id="create-post"> 
                        <input type="submit" value="Relato" class="btn btn-primary">
                    </form>

                    <div class="feeds">
                    
                        <div th:replace="~{common/feed}"></div>
                        
                    </div>
                </div>
                <!-- Right -->
                <div th:replace="~{common/right}"></div>
            </div>
        </main>

        
        <script src="js\home.js"></script>
     </body>
</html>