<!DOCTYPE html>
<html lang="pt-br">
    <!-- header -->
    <div th:replace="~{common/header(_,_)}"></div>
    <body>
        <div th:replace="~{common/nav}"></div>
        <main>
            <div class="container">
                <!-- Left -> Menu -->
                <div th:replace="~{common/left}"></div>


                <div class="middle">




                    <a href="/novo_post" class="menu-item" th:classappend="${currentPage == 'novo_post'} ? 'active' : ''">


                    </a>



                    <div class="feeds">

                        <div th:replace="~{common/feed}"></div>

                    </div>
                </div>

                <!-- Right -->
                <div th:replace="~{common/right}"></div>
            </div>
        </main>


        <script src="js\home.js"></script>
        <link rel="stylesheet" type="text/css" href="\css\stylehome.css">
        <link rel="stylesheet" type="text/css" href="\css\style.comments.css">

     </body>
</html>