<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cooruja | Login</title>

    <link href="css/stylelogin.css" rel="stylesheet">
    <link rel="icon" href="images/coruja_images/icons/32x32/Sem/Ativo 73.png" type="image/png">

</head>

<body class="signin">
    <section class="section_login">
        <div class="desenho"><img src="images/coruja_images/desenhos/Cooruja_Animada.png" alt="cooruja_animada"></div>
        <div class="panel panel-signin">
            <div class="panel-body" id="num_one">
                <div class="logo text-center">
                    <img class="imagem" src="images/coruja_images/logos/400X160/Sem Borda/Ativo 5.png"
                        alt="Cooruja Logo">
                </div>
                <h4 class="text-center-titulo">Possui cadastro?</h4>
                <p class="text-center">Entre em sua conta</p>

                <div class="mb30"></div>

                <div th:if="${possui_erro}" class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Atenção!</strong> <span th:text="${mensagem}"></span>
                </div>

                <form action="/process_login" method="post">
                    <div class="input-group-a">
                        <input name="usuario" id="usuario" type="text" class="form-control" placeholder="Email">
                    </div><!-- input-group -->
                    <br>
                    <div class="input-group-a">
                        <input name="senha" id="senha" type="password" class="form-control" placeholder="Senha">
                    </div><!-- input-group -->
                    <br>
                    <div class="botoes">
                        <div class="pull-left">
                            <a href="/" class="btn btn-success btn-block">Voltar</a>
                        </div>
                        <div class="pull-rigth">
                            <button type="submit" class="btn btn-success btn-block">Login</button>
                        </div>
                    </div>
                </form>

                

            </div><!-- panel-body -->
            <div class="recuperar-senha">
                <a href="/esquecisenha" class="esqueci-senha">Esqueci minha senha!</a>
            </div>
            <div class="panel-body" id="num_two">
                <a href="/signup" class="btn-newconta">Crie sua conta agora!</a>
            </div><!-- panel-footer -->
        </div><!-- panel -->

    </section>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.min.js"></script>
    <script src="js/pace.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/jquery.cookies.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>