<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css\style.default.singup.css">
    <link rel="icon" href="images\coruja_images\icons\32x32\Sem\Ativo 73.png">

    <title>Cooruja | Cadastro</title>
    
</head>

<body>

    <div class="container-geral">

    <div class="container-img">
        <img src="images\coruja_images\index\cooruja_cadastro.png" alt="Cooruja_lateral">
    </div>

    <div class="container-espace">
        
    </div>
    
    <div class="container">

        <div class="form-image">
            <img src="images\coruja_images\logos\400X160\Sem Borda\Ativo 5.png" alt="Cooruja Logo">
        </div>

        <div class="form">

            <form action="/process_add" method="post">

                <div class="form-header">
                    <div class="title">
                        <p class="sub-titulo1">Crie uma conta nova</p>
                        <p class="sub-titulo2">Entre com os seus dados</p>
                    </div>
                </div>

                <div class="input-group1">

                    <div class="input-box">
                        <input id="nome" type="text" name="nome" placeholder="Nome" required>
                    </div>

                    <div class="input-box">
                        <input id="sobrenome" type="text" name="sobrenome" placeholder="Sobrenome" required>
                    </div>

                </div>

                <div class="input-box">
                    <input id="email" type="email" name="email" placeholder="E-mail" required>
                </div>

                <div class="input-group2">

                    <div class="input-box">
                        <input id="senha" type="password" name="senha" placeholder="Senha" required>
                    </div>

                    <div class="input-box">
                        <input id="confirmacao_senha" type="password" name="confirmacao_senha" placeholder="Confirmação da senha" required>
                    </div>

                </div>          

                <div class="pull-group">

                    <div class="pull-left">
                        <input id="agree" name="agree" type="checkbox" value="1">
                        <label for="agree" class="texto">Aceito os <a href="/termosdeuso">Termos e Condições</a></label>
                    </div>

                    <div class="pull-right">
                        <button type="submit" class="btn-criar">Criar uma nova conta<i class="fa fa-arrow-circle-right ml5"></i></button>
                    </div>

                </div>

            </form>

        </div>

        <div class="cadastro">
            <button class="btn-cadastro"><a href="/login">Já possui Cadastro? Faça o Login</a></button>
        </div>      

    </div>

</div>
    
</body>
</html>